/*62.5% of 16px (default browser font size) is 10px,
which is used to calculate all the rem values below*/
/* html {
  font-size: 62.5%;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
