.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #4fc5b6;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*the grid*/
.Grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: end;
}

/*paragraph*/
p {
  font-family: Helvetica;
  font-size: 16px;
  color: #2c2d30;
  letter-spacing: 0;
  line-height: 24px;
}

h4 {
}

/*the Box class in the FrontPage*/
.Box-outer {
  width: 800px;
  margin: 50px auto;
}

.Box-inner {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 50px 80px;
  margin-bottom: 100px;
}

.FormInput {
  border: 3px solid #4fc5b6;
  border-radius: 3%;
}

.FormField {
  width: 100%;
  margin: 0 auto 1em auto !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
