.SearchPage {
  margin: 1rem;
}

.CanvasPage {
  position: relative;
}

.searchSection {
  position: absolute;
  left: 5px;
}

.WateringCan {
  overflow: hidden;
  position: absolute;
  top: 1%;
  left: 80%;
  width: 240px;
  background: rgba(0, 191, 255, 0.7);
  border: 3px solid #ffffff;
  border-radius: 10px;
}
